<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">	
	
	<beans:bean id="systemAuthenticationProvider" class="com.projetointegrador.projeto.security.RyoUserDetailsService" />
	 
	<http pattern="/login.xhtml" security="none" />
	<http pattern="/access-denied.xhtml" security="none" />
	
	<http pattern="/javax.faces.resource/**" security="none" />

	<http pattern="/" security="none" />

	<http auto-config="false" use-expressions="true" access-denied-page="/access-denied.xhtml">
		<intercept-url pattern="/Home.xhtml" access="isAuthenticated()" />
		<intercept-url pattern="/Cliente/**" access="hasAnyRole('ACUPUNTURISTA', 'RECEPCAO', 'ADMINISTRADOR')"/>
		<intercept-url pattern="/Usuario/**" access="hasAnyRole('ADMINISTRADOR')"/>				
		<intercept-url pattern="/Anamnese/**" access="hasAnyRole('ADMINISTRADOR','ACUPUNTURISTA')"/>
		<intercept-url pattern="/Ryodoraku/**" access="hasAnyRole('ADMINISTRADOR','ACUPUNTURISTA')"/>
		
			
		<intercept-url pattern="/**" access="denyAll" />


		<form-login login-page="/login.xhtml" authentication-failure-url="/login.xhtml?invalid=true" 			
					default-target-url="/" always-use-default-target="true" />

		<logout logout-url="/j_spring_security_logout" invalidate-session="true" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="systemAuthenticationProvider">
			<!-- <password-encoder hash="md5"/> -->
		</authentication-provider>
	</authentication-manager>

	

</beans:beans>

